<html>
      <body>
      <basefont face="arial, verdana, courier"/>
      <img src="http://oneilstuart.com/images/websitelogo.jpg" style="border: solid 1px #444; padding: 1px; margin-right:10px;" />
      <h1>Oneil Stuart Studios: Trak Off Live</h1>
      <h4>Hi there, {{ username }}</h4>

      
     <p>Your playlist is saved and will be mixed ASAP.</p>
        <div style="font-size: 7px;"> {{ m3u8list }}</div>
        <p>Thank you.</p>
        <p style="font-size: 5px; margin-top:40px">
        <a href="//oneilstuart.com/{{ appName }}">Oneil Stuart Studios</a> &copy; {{ date('Y') }};
        </p>
        
</body></html>      