<!-- home footer -->

        <div id="footer">
            <div class="container">
                <div class="row" style="padding: 5px;">
                    <div class="col-xs-4 col-sm-4">
                        <a href="/"><img src="/images/websitelogo.jpg" alt="logo" style="width: 42px; height: 42px;" class="img-responsive img-thumbnail" border="0" /></a>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <!--
                        <ul style="list-style-type: none;">
                            <li><a href="//www.mixcrate.com/oneilstuart/">Oneil @ MixCrate</a></li>
                            <li><a href="//www.mixcloud.com/oneilstuart/">Oneil @ MixCloud</a></li>
                        </ul>
                        -->
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <ul style="list-style-type: none;">
                            <li><a href="/" class="small"><span style="float: right;">Oneil Stuart © 2014</span></a></li>
                        </ul>
                    </div>
                </div>       
            </div>    
        </div> 


